.c-container
  container()
  color $col-dk-grey
  margin 40px auto
  margin-bottom 6em
  min-height calc(100vh - 100px)
  +md-max()
    padding 0 $mgn * 2

  section
    margin $mgn 0

  p
    margin $mgn 0

  .c-documentation--dsg
    img
      width inherit

  img:not(.w-fixed)
    +sm()
      width 100% !important
