include ../../mixins/container
| 
| {% include {{ include.page_header }} %}
| {% include {{ include.page_sidebar }} %}
+container
    include ../../breadcrumbs
    .c-documentation
        | {{ content }}
include ../footer