include ../../mixins/container
| 
| {% include {{ include.page_header }} %}
| {% include {{ include.page_sidebar }} %}
+container
    | {% if include.page_breadcrumbs %}
    include ../../breadcrumbs
    | {% endif %}
    .c-documentation
        | {{ content }}
include ../footer