body {
  font-size: 0.95rem;
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

footer {
  height: 50px;
}

a {
  color: #2A6FB8;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
}

.sidebarDetails {
  padding: .5em;
  margin: 0px;
}

.sidebarDetails summary {
  margin-bottom: 5px;
}

.sidebarDetails p {
  padding: .5em 0;
  border-top: solid 1px #eee;
}

.sidebarDetails h2 {
  margin-right: 5px;
  display: inline;
}