/*TODO: analyse CSS and remove unused styling.*/
body {
  font-size: 0.95rem;
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.info-bar {
  padding: 17px;
  border-top: solid 1px #ccc;
  background-color: #444a65;
  color: #fff;
}


footer {
  height: 50px;
}

.page-content {
  background-color: rgb(250, 250, 250);
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  padding-top: 20px;
  margin: 0 auto;
}

.wrapper {
  background-color: #FFF;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

a {
  color: #2A6FB8;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
}

table {
  width: auto;
}

table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  background-color: #FFF !important;
}

table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-weight: bold;
  background-color: #FFF !important;
}

#modifiedDate {
  max-width: 1000px;
}

.sidebarDetails {
  padding: .5em;
  margin: 0px;
}

.sidebarDetails summary {
  margin-bottom: 5px;
}

.sidebarDetails p {
  padding: .5em 0;
  border-top: solid 1px #eee;
}

.sidebarDetails h2 {
  margin-right: 5px;
  display: inline;
}

/*From over.css 
TODO: check what uses this and remove if dead css*/
html,
body {
  height: 100%;
}

#divHeader {
  height: 100px;
}

#divContent {
  min-height: 100%;
  height: auto !important;
  /*Cause footer to stick to bottom in IE 6*/
  height: 100%;
  margin: 0 auto -100px;
  /*Allow for footer height*/
  vertical-align: bottom;
}

#divFooter,
#divPush {
  height: 100px;
  /*Push must be same height as Footer */
}